# Code for finding the co varience between 2 column

## the data frame

In [15]:
import pandas as pd 
sal = pd.read_csv('Salaries.csv') 
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [16]:
my = pd.DataFrame(sal[['JobTitle','TotalPayBenefits']])

makes a data frame out of these columns

In [17]:
my['Len'] = my['JobTitle'].apply(func = lambda x:len(x))

makes a new column filled by the length of the name column

In [18]:
my.drop('JobTitle', axis = 1,inplace=True)

 drops the name column

In [19]:
m1 = my['TotalPayBenefits'].mean() 
m2 = my['Len'].mean()

m1 is the mean value of the salary column 
,m2 is the mean value of the length of the name column

In [20]:
noofrow = my.shape[0]

for finding the no of rows

In [21]:
def sub(x,y):
    return (x - m1)*(y - m2)

writing a function for aiding the lambda function as the co relation formula states that :
for example :
The data set may look like:

Q1: x = 2, y = 10
Q2: x = 3, y = 14
Q3: x = 2.7, y = 12
Q4: x = 3.2, y = 15
Q5: x = 4.1, y = 20
The average x value equals 3, and the average y value equals 14.2. To calculate the covariance, the sum of the products of the xi values minus the average x value, multiplied by the yi values minus the average y values would be divided by (n-1), as follows:

Cov(x,y) = ((2 - 3) x (10 - 14.2) + (3 - 3) x (14 - 14.2) + ... (4.1 - 3) x (20 - 14.2)) / 4 = (4.2 + 0 + 0.66 + 0.16 + 6.38) / 4 = 2.85

In [22]:
my['s1'] = my.apply(lambda x:sub(x.TotalPayBenefits, x.Len), axis = 1)

using the apply function to apply the lambda function for 2 columns

In [24]:
co_var=my['s1'].sum()/noofrow

finding the co varience see the above example

In [25]:
p1 = (my['TotalPayBenefits'].std())*(my['Len'].std())

Co-rrelation coefficient of two variables by dividing the covariance of these variables by the product of the standard deviations of the same values.

In [27]:
print(co_var/p1)

-0.03687819785017327

This is the corelation value between those 2 columns where -1 being negative relationship , +1 being positive relationship and 0 being no relation

## Good job